ALTER TABLE cm_order_gifts ADD COLUMN generated_order_id INTEGER REFERENCES cm_raw_order_lines(id) ON DELETE SET NULL;
CREATE INDEX idx_cm_order_gifts_generated_order_id ON cm_order_gifts(generated_order_id);
